@keyframes slide-in {
  from {
    transform: translate(20em, -0.1em) scale(0.85, 1);
    color: #63e0bd;
  }

  to {
    transition-timing-function: ease;
  }
}
body{
  background-color: #e4fff8;
}

h1 {
  font-family: 'Heebo', sans-serif;
  font-size: 3em;
  padding-top: 1em;
  padding-left: 1.3em;
  animation-name: slide-in;
  animation-duration: 3s;
}

.skewed-header {
  transform: skewY(-3deg);
  transform-origin: top left;
  position: relative;
  height: 7em;
  min-width: 100%;
  margin-left: -3em;
  margin-top: -3em;
  margin-right: -0.5em;
  background: cover;
  background-color: #63e0bd;

}
@media (max-width: 480px){
  .skewed-header {
    transform: skewY(-3deg);
    transform-origin: top left;
    position: relative;
    height: 25vw;
    min-width: 100%;
    margin-left: -5vw;
    margin-top: -8vw;
    margin-right: -2.5vw;
    background: cover;
    background-color: #63e0bd;
  }
  h1 {
    font-family: 'Heebo', sans-serif;
    font-size: 10vw;
    padding-top: 1em;
    padding-left: 1em;
    animation-name: slide-in;
    animation-duration: 3s;
  }
}

.text-box {

  top: 30vh;
  font-family: Nanum Gothic;

  text-align: center;
}
.carousel {
  display: flex;
  justify-content: center;
  align-items: center;

}
.carousel-image{
  max-width:80vw;
  height:500px;
  border: solid 5px #63e0bd;
  border-radius: 1%;
  box-shadow: 0px 0px 42px -6px #00573175;
}

#left{
  position: relative;
  width:auto;
  height:2em;
  margin-right: -40px;
  transition: all 0.8s ease;
}

#right{
  position: relative;
  width:auto;
  height:2em;
  margin-left: -40px;
  transition: all 0.8s ease;
}
.arrows:hover{
  opacity: 50%;
}
