@keyframes slide-in {
  from {
    transform: translate(20em, -0.1em) scale(0.85, 1);
    color: #63e0bd;
  }

  to {
    transition-timing-function: ease;
  }
}
body{
  background-color: #e4fff8;
}

h1 {
  font-family: 'Heebo', sans-serif;
  font-size: 3em;
  padding-top: 1em;
  padding-left: 1.3em;
  animation-name: slide-in;
  animation-duration: 3s;
}

.skewed-header {
  transform: skewY(-3deg);
  transform-origin: top left;
  position: relative;
  height: 7em;
  min-width: 100%;
  margin-left: -3em;
  margin-top: -3em;
  margin-right: -0.5em;
  background: cover;
  background-color: #63e0bd;

}

.text-box {

  top: 30vh;
  font-family: Nanum Gothic;

  text-align: center;
}


.carousel-pane{
  
  height:100%;
  position: relative;
}


.carousel-image{
  max-height:30vw;
  width:100%;
  position: absolute;
  left:0;
  right:0;
  margin:0 auto;
  margin-top: 5vw;
  border: solid 5px #63e0bd;
  border-radius: 1%;
  box-shadow: 0px 0px 10px -6px #00573175;
  transform: rotate(90deg);
  width:auto;
}
ul{
  list-style-type: none;
  padding:0;
  margin:0;
}


#left{
  
  width:auto;
  height:2vw;
  text-align: center;
  
  cursor: pointer;
  transition: all 0.8s ease;
}

#right{
  
  width:auto;
  height:2vw;
  text-align: center;
  cursor: pointer;
  transition: all 0.8s ease;
}
.arrows:hover{
  opacity: 50%;
}

.indicators{
  text-align: center;
  margin-top: 5%;
}

.carousel-indicator{
  border : 0;
  padding-inline: 0;
  border-radius: 50%;
  height:1.8vw;
  width:1.8vw;
  margin-inline: 0.5vw;
  margin-top: 5px;
  background-color: #667c8d;

}

@media (max-width: 480px){
  .skewed-header {
    height: 25vw;
    min-width: 100%;
    margin-left: -5vw;
    margin-top: -8vw;
    margin-right: -2.5vw;
  }

  h1 {
    font-size: 10vw;
    padding-top: 1em;
    padding-left: 1em;
  }
  .carousel-image{
    width:90vw;
    max-height: 80vh;
    height:auto;
  }
}
